logFile: "stdout"
port: 8080
autoreload: true
querystring: "query=servicelist&details=true&hoststatus=down&servicestatus=warning+critical+unknown"
maxStringLength: 160
hideAcknowledged: true
#tableHeaders: ["host_name","description","plugin_output","long_plugin_output","perf_data","max_attempts","current_attempt","status","last_update","has_been_checked","should_be_scheduled","last_check","check_options","check_type","checks_enabled","last_state_change","last_hard_state_change","last_hard_state","last_time_ok","last_time_warning","last_time_unknown","last_time_critical","state_type","last_notification","next_notification","next_check","no_more_notifications","notifications_enabled","problem_has_been_acknowledged","acknowledgement_type","current_notification_number","accept_passive_checks","event_handler_enabled","flap_detection_enabled","is_flapping","percent_state_change","latency","execution_time","scheduled_downtime_depth","process_performance_data","obsess"]
tableHeaders:
  - host_name
  - description
  - plugin_output
#  - long_plugin_output
#  - perf_data
#  - max_attempts
#  - current_attempt
  - status
  - last_update
#  - has_been_checked
#  - should_be_scheduled
  - last_check
#  - check_options
#  - check_type
#  - checks_enabled
#  - last_state_change
#  - last_hard_state_change
#  - last_hard_state
#  - last_time_ok
#  - last_time_warning
#  - last_time_unknown
#  - last_time_critical
#  - state_type
#  - last_notification
#  - next_notification
#  - next_check
#  - no_more_notifications
#  - notifications_enabled
  - problem_has_been_acknowledged
#  - acknowledgement_type
#  - current_notification_number
#  - accept_passive_checks
#  - event_handler_enabled
#  - flap_detection_enabled
#  - is_flapping
#  - percent_state_change
#  - latency
#  - execution_time
#  - scheduled_downtime_depth
#  - process_performance_data
#  - obsess

authentication:
  kind: none
  ad:
    server: adserver.example.com
    port: 389
    baseDN: DC=example,DC=com
    allowedGroups: 
      - Domain Admins
  basic:
    credentials:
      - admin:password

instances:
  nagiosinstance01:
    uri: "https://nagioserver.example.com/nagios/"
    authentication: true
    username: "nagiosuser"
    password: "nagiospassword"
    
  nagiosinstance02:
    uri: "https://nagioserver02.example.com/nagios/"
    authentication: true
    username: "nagiosuser"
    password: "nagiospassword"

#  nagiosinstance02:
#    uri: "asdf"
#    authentication: true
#    username: "asd"
#    password: "sdaf"
